<mat-card>

    <mat-card-content>

        <form>

            <h2>Log In</h2>
            <!-- <mat-error>

                The username and password were not recognised

            </mat-error> -->
            <mat-form-field class="full-width-input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" [(ngModel)]="user.email" required>

                <!-- <mat-error>

                    Please provide a valid email address

                </mat-error> -->

            </mat-form-field>

            <mat-form-field class="full-width-input">
                <mat-label>Password</mat-label>
                <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="user.password"
                    required>
                <mat-icon matSuffix>remove_red_eye</mat-icon>
                <!-- <mat-error>

                    Please provide a valid password

                </mat-error> -->

            </mat-form-field>

            <div class="col-md-12 row">
                <div class="col-md-6">Forgot Password?</div>
                <div class="col-md-6"><button class="btn-lg" mat-raised-button color="primary" (click)="signIn()">Login
                        <mat-icon>lock_open</mat-icon></button></div>
            </div>

        </form>

    </mat-card-content>

</mat-card>

<mat-card class="Oauth">

    <mat-card-content>
        <div class="col-md-12 row">
            <div class="col-md-12"><button class="btZize" mat-raised-button (click)="signInWithGithub()">Login using Github
                    <mat-icon>lock_open</mat-icon></button></div>
        </div>
    </mat-card-content>
</mat-card>

<!-- [formGroup]="form" (ngSubmit)="onSubmit()" -->