<div class="content" role="main">

    <!-- Select color area start -->
    <div class="row">
        <div class="col-md-3">
            <div class="card-container">
                <a class="card" target="_blank" rel="noopener">
                    <h3 class="selectColor">Collections</h3>
                    <p>Total: 150</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-container">
                <a class="card" target="_blank" rel="noopener">
                    <h3 class="selectColor">Sign-ups</h3>
                    <p>Total: 75</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-container">
                <a class="card" target="_blank" rel="noopener">
                    <h3 class="selectColor">Total Revenue</h3>
                    <p>Total: $10,000</p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-container">
                <a class="card" target="_blank" rel="noopener">
                    <h3 class="selectColor">Bounced Cheques</h3>
                    <p>Total: 5</p>
                </a>
            </div>
        </div>
    </div>
    <!-- Select color area end -->



    <!-- Topics table list  -->
    <!-- <div class="col-md-12">
        <app-topic-list></app-topic-list>
    </div> -->

</div>
